<html>
<style>

</style>
<body>
  <div class="jumbotron">
  <h4>Our Services</h4>
  </div>
  <!-- Page Features -->
<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top"  alt="">
      <div class="card-body">
        <h4 class="card-title">Food and beverges</h4>
        <p class="card-text">Hungry...!!!! Common have some yummy things to get rid of your Hungers.</p>
      </div>
      <div class="card-footer">
        <a href="/" class="btn btn-primary">Explore more!!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top"  alt="">
      <div class="card-body">
        <h4 class="card-title">Clothing</h4>
        <p class="card-text">Are you a Fashion Enthusastic person common This is for you only.</p>
      </div>
      <div class="card-footer">
        <a href="/" class="btn btn-primary">Explore more!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top"  alt="">
      <div class="card-body">
        <h4 class="card-title">Techno Products</h4>
        <p class="card-text">Are you a technology enthusastic want to have latest gadagets hurry up Equip them fast.</p>
      </div>
      <div class="card-footer">
        <a href="/" class="btn btn-primary">Explore more!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top"  alt="">
      <div class="card-body">
        <h4 class="card-title">All in one</h4>
        <p class="card-text">All in one platform for each and everything a person needs in his daily routine.</p>
      </div>
      <div class="card-footer">
        <a href="/" class="btn btn-primary">Explore more!</a>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->
</body>
<html>
