<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <span>Hello{{sid}}</span>
    <div class="container">

      <div class="jumbotron">
        <h3>Product  Details</h3>
        <a href="#" class="btn btn-info" role="button">Inventry Management</a>
          <a href="/show-product-subadmin" class="btn btn-info" role="button">Show all Products</a>
          <a href="/show-customer" class="btn btn-info" role="button">Show customers</a>
            <a href="/upload-product" class="btn btn-info" role="button">Upload New Product</a>
{{msg}}
  </body>
  </html>
